.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.scoreItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f8;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px auto; /* Centering and maintaining vertical margin */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%; /* Set a fixed width */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for hover effect */
}

.scoreItem:hover {
  transform: scale(1.05); /* Slightly increase the size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow for highlighting */
}

.userEmail {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.userScore {
  font-size: 16px;
  color: #2a9d8f;
  font-weight: bold;
  background-color: #e4f2ef;
  padding: 5px 10px;
  border-radius: 5px;
}

.leaderboardTitle {
  font-size: 24px; /* Adjust the size as needed */
  font-weight: bold;
  color: #2a9d8f; /* A pleasant color, but you can choose any */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Adds some space below the title */
  font-family: 'Arial', sans-serif; /* A clean, readable font */
  padding: 10px;
  border-radius: 5px;
  background-color: #e4f2ef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
